header {
  background-color: rgb(255,115,15);
  color: rgb(255,215,94);
}

main {
  background-color: rgb(222,198,199);
  color: rgb(21,26,56) ;

}

footer {
  background-color: rgb(21,26,56);
  color: rgb(255,215,94);

}
